Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

ruff:
  name: ruff
  language: system
  entry: uv run ruff check --fix
  stages:
  - pre-commit

ruff-format:
  name: ruff-format
  language: system
  entry: uv run ruff format
  stages:
  - pre-commit

mypy:
  name: mypy
  language: system
  entry: uv run mypy
  stages:
  - pre-commit

pytest:
  name: pytest
  language: system
  entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
  pass_filenames: false
  stages:
  - pre-push

fix: unify truthy values with pydantic-settings in server.py
  src/mcp_server_mattermost/server.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

refactor: extract UvicornTestServer to tests/helpers.py
  tests/helpers.py
  tests/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: apply code review improvements across auth, client, server and tests
  .gitignore
  README.md
  docs/configuration.md
  pyproject.toml
  src/mcp_server_mattermost/auth.py
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/server.py
  tests/test_auth.py
  tests/test_token_flow.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

docs: add rule to omit Co-Authored-By from commit messages
  AGENTS.md
Due: none

fix: use user-scoped endpoint for listing channels
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/tools/channels.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

fix: narrow except Exception to httpx.HTTPError in token verifier
  src/mcp_server_mattermost/auth.py
  tests/test_auth.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: correct misleading concurrent verify_token test assertion
  tests/test_auth.py
Due: ruff, ruff-format, pytest

fix: log warning when client initializes without token
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

test: add coverage for 500 and 403 responses in token verifier
  tests/test_auth.py
Due: ruff, ruff-format, pytest

fix: remove clear=True from patch.dict in server tests
  tests/test_server.py
Due: ruff, ruff-format, pytest

docs: document os.getenv limitation in _create_mcp() docstring
  src/mcp_server_mattermost/server.py
Due: ruff, ruff-format, mypy, pytest

docs: add security warning and README config row for per-client tokens
  README.md
  docs/configuration.md
Due: none

fix: handle propagate=False in caplog test for tokenless warning
  tests/test_client.py
Due: ruff, ruff-format, pytest

docs: sync AGENTS.md and README with current config and source files
  AGENTS.md
  README.md
Due: none

feat: per-client token authentication (#2)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/configuration.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/auth.py
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/server.py
  tests/conftest.py
  tests/helpers.py
  tests/integration/containers.py
  tests/integration/test_files.py
  tests/integration/test_token_flow.py
  tests/test_auth.py
  tests/test_client.py
  tests/test_config.py
  tests/test_deps.py
  tests/test_init.py
  tests/test_server.py
  tests/test_token_flow.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: prevent integration test_token_flow from corrupting module-level mcp singleton
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: restore get_settings cache after token flow integration test
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: use monkeypatch instead of patch.dict in token flow integration test
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: stop clearing get_settings cache after token flow integration test
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: extract settings cache management into fixture with proper teardown
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: remove all env/cache manipulation from token flow integration test
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

docs: add channel listing redesign spec
  docs/superpowers/specs/2026-03-23-channel-listing-redesign-design.md
Due: none

docs: add channel listing redesign implementation plan
  docs/superpowers/plans/2026-03-24-channel-listing-redesign.md
Due: none

docs: clarify Co-Authored-By restriction applies to AI agents only
  AGENTS.md
Due: none

feat: rename get_channels to get_public_channels, add get_my_channels
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

feat: rename list_channels to list_public_channels, add list_my_channels tool
  src/mcp_server_mattermost/tools/channels.py
  tests/test_tools/conftest.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

test: update fixtures and assertions for channel listing rename
  tests/test_capability_meta.py
  tests/test_server.py
  tests/test_tools/test_tool_tags.py
Due: ruff, ruff-format, pytest

docs: update documentation for channel listing redesign
  AGENTS.md
  README.md
  docs/building-agents.md
  docs/tools/channels.md
  docs/tools/index.md
  tests/integration/README.md
Due: none

docs: add channel listing redesign to CHANGELOG
  CHANGELOG.md
Due: none

test: add integration tests for list_my_channels with private/DM coverage
  tests/integration/conftest.py
  tests/integration/test_channels.py
Due: ruff, ruff-format, pytest

fix: address code review findings
  docs/tools/channels.md
  tests/test_tools/conftest.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, pytest

docs: fix stale docstring in wire format example, update mock strings
  docs/building-agents.md
  tests/test_logging.py
  tests/test_middleware.py
Due: ruff, ruff-format, pytest

chore: gitignore docs/superpowers/ design documents
  .gitignore
  docs/superpowers/plans/2026-03-24-channel-listing-redesign.md
  docs/superpowers/specs/2026-03-23-channel-listing-redesign-design.md
Due: none

feat: split list_channels into list_public_channels + list_my_channels (#6)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/building-agents.md
  docs/tools/channels.md
  docs/tools/index.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/tools/channels.py
  tests/integration/README.md
  tests/integration/conftest.py
  tests/integration/test_channels.py
  tests/test_capability_meta.py
  tests/test_client.py
  tests/test_logging.py
  tests/test_middleware.py
  tests/test_server.py
  tests/test_tools/conftest.py
  tests/test_tools/test_channels.py
  tests/test_tools/test_tool_tags.py
Due: ruff, ruff-format, mypy, pytest

chore: bump version to 0.4.0
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: update trivy-action to v0.35.0
  .github/workflows/docker-publish.yml
Due: none

feat: enrich list_my_channels with unread counts and only_unread filter
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/models/__init__.py
  src/mcp_server_mattermost/models/channel.py
  src/mcp_server_mattermost/tools/channels.py
  tests/integration/test_channels.py
  tests/test_client.py
  tests/test_tools/conftest.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

docs: document Mattermost OAuth proxy setup
  README.md
  docs/configuration.md
  docs/docker.md
  docs/quickstart.md
  llms.txt
Due: none

fix: avoid runtime package build in Docker image
  Dockerfile
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
