Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

.pre-commit-config.yaml:

---
fail_fast: false
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language: system
        entry: uv run ruff check --fix
        types: [python]
        stages: [pre-commit]

      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run ruff format
        types: [python]
        stages: [pre-commit]

      - id: mypy
        name: mypy
        language: system
        entry: uv run mypy
        types: [python]
        exclude: ^tests/
        stages: [pre-commit]

      - id: pytest
        name: pytest
        language: system
        entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
        types: [python]
        pass_filenames: false
        stages: [pre-push]

ci: upgrade CodeQL Action to v4
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

ci: upgrade CodeQL Action to v4 (#14)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

ci: add Dependabot config for uv, actions, and docker
  .github/dependabot.yml
Due: none

chore: add CODEOWNERS for dependency and CI files
  .github/CODEOWNERS
Due: none

docs: document Dependabot update policy in CONTRIBUTING
  CONTRIBUTING.md
Due: none

docs: add maintainers runbook for Dependabot settings
  MAINTAINERS.md
Due: none

ci: cover docs/requirements.txt with Dependabot pip updates
  .github/dependabot.yml
  CONTRIBUTING.md
  MAINTAINERS.md
Due: none

chore: make CODEOWNERS own itself
  .github/CODEOWNERS
Due: none

docs: list publish-test.yml in MAINTAINERS security audit
  MAINTAINERS.md
Due: none

ci: add Dependabot config and dependency-update policy (#15)
  .github/CODEOWNERS
  .github/dependabot.yml
  CONTRIBUTING.md
  MAINTAINERS.md
Due: none

ci: switch Dependabot to monthly update cadence
  .github/dependabot.yml
  CONTRIBUTING.md
  MAINTAINERS.md
Due: none

ci: switch Dependabot to monthly update cadence (#21)
  .github/dependabot.yml
  CONTRIBUTING.md
  MAINTAINERS.md
Due: none

feat: add HTTP transport-security settings
  src/mcp_server_mattermost/config.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, pytest

feat: add HTTP transport-security guard
  src/mcp_server_mattermost/http_security.py
  tests/test_http_security.py
Due: ruff, ruff-format, mypy, pytest

feat: fail-closed guard for unauthenticated HTTP with Host/Origin protection
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/http_security.py
  tests/test_init.py
  tests/test_main_env.py
Due: ruff, ruff-format, mypy, pytest

test: verify Host/Origin DNS-rebinding protection
  tests/test_http_transport_security.py
Due: ruff, ruff-format, pytest

docs: document HTTP transport security and safe deployment
  CHANGELOG.md
  docs/authentication.md
  docs/configuration.md
  docs/docker.md
Due: none

test: cover default-path Host/Origin protection (loopback, no allowlist)
  tests/test_http_transport_security.py
Due: ruff, ruff-format, pytest

feat: add configurable HTTP connection pool settings
  src/mcp_server_mattermost/config.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, pytest

feat: add create_http_client factory for shared pool
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

feat: send Authorization per-request and support a borrowed HTTP client
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

fix: raise FastMCP floor to >=3.4.4 for Host/Origin protection kwargs
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: list HTTP transport-security env vars in AGENTS.md
  AGENTS.md
Due: none

refactor: type host_origin_protection as Literal["auto"]
  src/mcp_server_mattermost/http_security.py
Due: ruff, ruff-format, mypy, pytest

feat: wire shared HTTP pool through server lifespan and get_client
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/server.py
  tests/test_deps.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

test: prove tool calls reuse one shared HTTP pool
  tests/test_http_pool.py
Due: ruff, ruff-format, pytest

docs: document HTTP connection pool settings and multipart fix
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/configuration.md
Due: none

test: assert populated Host/Origin allowlists flow through to mcp.run
  tests/test_init.py
Due: ruff, ruff-format, pytest

fix: address code review findings for shared HTTP pool
  CHANGELOG.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/constants.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/server.py
  tests/test_client.py
  tests/test_config.py
  tests/test_deps.py
  tests/test_http_pool.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

fix: align integration tests with shared HTTP pool lifecycle
  tests/integration/conftest.py
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: warn instead of refuse for unauthenticated HTTP static_token
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/authentication.md
  docs/configuration.md
  docs/docker.md
  docs/examples.md
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/http_security.py
  tests/test_config.py
  tests/test_http_security.py
  tests/test_init.py
Due: ruff, ruff-format, mypy, pytest

docs: consolidate HTTP transport-security guidance into one canon
  README.md
  docs/authentication.md
  docs/configuration.md
  docs/docker.md
Due: none

fix: describe Host/Origin protection per connection, not per bind
  CHANGELOG.md
  docs/configuration.md
  docs/docker.md
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/http_security.py
  tests/test_http_security.py
  tests/test_http_transport_security.py
Due: ruff, ruff-format, mypy, pytest

chore: ignore dogfooding run artifacts
  .gitignore
Due: none

fix: keep dev dependencies available for git hooks
  pyproject.toml
  uv.lock
Due: none

fix: default file_ids to empty list (closes #27)
  src/mcp_server_mattermost/models/post.py
Due: ruff, ruff-format, mypy, pytest

fix: raise pydantic-settings floor to >=2.7 for NoDecode
  pyproject.toml
  uv.lock
Due: none

fix: make HTTP Host/Origin protection opt-in and apply it on every entry point
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/http_guard_log.py
  src/mcp_server_mattermost/http_security.py
  src/mcp_server_mattermost/server.py
  tests/test_config.py
  tests/test_http_guard_log.py
  tests/test_http_security.py
  tests/test_http_transport_security.py
  tests/test_init.py
Due: ruff, ruff-format, mypy, pytest

docs: document opt-in Host/Origin protection and correct HTTP guidance
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/authentication.md
  docs/configuration.md
  docs/docker.md
Due: none

test: cover posts from servers that omit empty file_ids
  CHANGELOG.md
  src/mcp_server_mattermost/models/post.py
  tests/models/test_post.py
  tests/test_tools/conftest.py
  tests/test_tools/test_messages.py
Due: ruff, ruff-format, mypy, pytest
