Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

.pre-commit-config.yaml:

---
fail_fast: false
repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        language: system
        entry: uv run ruff check --fix
        types: [python]
        stages: [pre-commit]

      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run ruff format
        types: [python]
        stages: [pre-commit]

      - id: mypy
        name: mypy
        language: system
        entry: uv run mypy
        types: [python]
        exclude: ^tests/
        stages: [pre-commit]

      - id: pytest
        name: pytest
        language: system
        entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
        types: [python]
        pass_filenames: false
        stages: [pre-push]

ci: auto-sync README to Docker Hub overview
  .github/workflows/docker-publish.yml
Due: none

docs: add Docker badge, tool count, fix llms.txt link
  README.md
Due: none

Revert "ci: auto-sync README to Docker Hub overview"
  .github/workflows/docker-publish.yml
Due: none

refactor: migrate to FastMCP 3 with FileSystemProvider and @lifespan
  pyproject.toml
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/server.py
  src/mcp_server_mattermost/tools/__init__.py
  src/mcp_server_mattermost/tools/bookmarks.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/files.py
  src/mcp_server_mattermost/tools/messages.py
  src/mcp_server_mattermost/tools/posts.py
  src/mcp_server_mattermost/tools/teams.py
  src/mcp_server_mattermost/tools/users.py
  tests/test_capability_meta.py
  tests/test_tools/test_tool_tags.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: remove unused type: ignore comments in client.py
  src/mcp_server_mattermost/client.py
Due: ruff, ruff-format, mypy, pytest

fix: update test_server.py imports from server to deps
  tests/test_server.py
Due: ruff, ruff-format, pytest

fix: update test_imports.py for FileSystemProvider auto-discovery
  tests/test_tools/test_imports.py
Due: ruff, ruff-format, pytest

fix: remove .fn accessor from tool unit tests for FastMCP 3
  tests/test_tools/test_bookmarks.py
  tests/test_tools/test_channels.py
  tests/test_tools/test_files.py
  tests/test_tools/test_messages.py
  tests/test_tools/test_posts.py
  tests/test_tools/test_teams.py
  tests/test_tools/test_users.py
Due: ruff, ruff-format, pytest

fix: remove redundant inline tag tests (covered by test_tool_tags.py)
  tests/test_tools/test_bookmarks.py
  tests/test_tools/test_channels.py
  tests/test_tools/test_files.py
  tests/test_tools/test_messages.py
  tests/test_tools/test_posts.py
  tests/test_tools/test_teams.py
  tests/test_tools/test_users.py
Due: ruff, ruff-format, pytest

refactor: remove unused get_settings_dep from deps.py
  src/mcp_server_mattermost/deps.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

docs: update AGENTS.md for FastMCP 3 patterns
  AGENTS.md
Due: none

docs: add CHANGELOG entry for FastMCP 3 migration
  CHANGELOG.md
Due: none

fix: address code review findings for FastMCP 3 migration
  AGENTS.md
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  tests/test_server.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: resolve mypy no-any-return in client.py, add pre-commit checklist
  AGENTS.md
  src/mcp_server_mattermost/client.py
Due: ruff, ruff-format, mypy, pytest

feat: migrate to FastMCP 3 (#1)
  AGENTS.md
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/server.py
  src/mcp_server_mattermost/tools/__init__.py
  src/mcp_server_mattermost/tools/bookmarks.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/files.py
  src/mcp_server_mattermost/tools/messages.py
  src/mcp_server_mattermost/tools/posts.py
  src/mcp_server_mattermost/tools/teams.py
  src/mcp_server_mattermost/tools/users.py
  tests/test_capability_meta.py
  tests/test_server.py
  tests/test_tools/test_bookmarks.py
  tests/test_tools/test_channels.py
  tests/test_tools/test_files.py
  tests/test_tools/test_imports.py
  tests/test_tools/test_messages.py
  tests/test_tools/test_posts.py
  tests/test_tools/test_teams.py
  tests/test_tools/test_tool_tags.py
  tests/test_tools/test_users.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: bind Trivy SARIF upload to main branch for Code Scanning visibility
  .github/workflows/docker-publish.yml
Due: none

fix: add wsproto dependency, suppress ASYNC240 false positives, update testcontainers API
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/client.py
  tests/integration/containers.py
  tests/integration/test_files.py
  tests/test_client.py
  tests/test_init.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

test: missing mattermost_token claim yields no token override
  tests/test_deps.py
Due: ruff, ruff-format, pytest

docs: document per-client token authentication
  CHANGELOG.md
  docs/configuration.md
Due: none

test: fix duplicate test and improve test_config assertions
  src/mcp_server_mattermost/config.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, pytest

feat: use get_access_token() in deps for per-client token support
  src/mcp_server_mattermost/deps.py
  tests/conftest.py
  tests/test_deps.py
Due: ruff, ruff-format, mypy, pytest

fix: apply post-review improvements from code review feedback
  pyproject.toml
  src/mcp_server_mattermost/auth.py
  src/mcp_server_mattermost/server.py
  tests/test_auth.py
  tests/test_token_flow.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: use is not None sentinel for token override resolution
  src/mcp_server_mattermost/client.py
Due: ruff, ruff-format, mypy, pytest

feat: add MattermostTokenVerifier for FastMCP 3 auth
  src/mcp_server_mattermost/auth.py
  tests/test_auth.py
Due: ruff, ruff-format, mypy, pytest

test: add e2e test for client bearer token flow through MattermostTokenVerifier
  tests/test_token_flow.py
Due: ruff, ruff-format, pytest

docs: document allow_http_client_tokens and MattermostTokenVerifier in changelog
  AGENTS.md
  CHANGELOG.md
Due: none

fix: suppress KeyboardInterrupt traceback on server shutdown
  src/mcp_server_mattermost/__init__.py
Due: ruff, ruff-format, mypy, pytest

test: cover allow_http_client_tokens=True with missing access token branch
  tests/test_deps.py
Due: ruff, ruff-format, pytest

feat: add allow_http_client_tokens config option
  src/mcp_server_mattermost/server.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, pytest

feat: add token override to MattermostClient
  tests/test_client.py
Due: ruff, ruff-format, pytest

fix: reuse httpx client and add TTL cache in token verifier
  src/mcp_server_mattermost/auth.py
  tests/test_auth.py
Due: ruff, ruff-format, mypy, pytest

feat: conditionally add MattermostTokenVerifier to FastMCP server
  src/mcp_server_mattermost/server.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

test: add integration test for client bearer token flow
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

fix: lazy-load settings in MattermostTokenVerifier to allow import without env vars
  src/mcp_server_mattermost/auth.py
  src/mcp_server_mattermost/server.py
  tests/test_auth.py
Due: ruff, ruff-format, mypy, pytest

fix: rebuild uv.lock from public PyPI
  uv.lock
Due: none

fix: use dynamic port and proper thread join in e2e token flow test
  tests/test_token_flow.py
Due: ruff, ruff-format, pytest

style: ruff format test_deps and test_token_flow
  tests/test_deps.py
  tests/test_token_flow.py
Due: ruff, ruff-format, pytest

chore: ignore .specs/ directory
  .gitignore
Due: none

chore: sync fork with upstream FastMCP 3 migration
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/server.py
Due: ruff, ruff-format, mypy, pytest

test: verify token override used in Authorization header
  tests/test_client.py
Due: ruff, ruff-format, pytest
