Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

ruff:
  name: ruff
  language: system
  entry: uv run ruff check --fix
  stages:
  - pre-commit

ruff-format:
  name: ruff-format
  language: system
  entry: uv run ruff format
  stages:
  - pre-commit

mypy:
  name: mypy
  language: system
  entry: uv run mypy
  stages:
  - pre-commit

pytest:
  name: pytest
  language: system
  entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
  pass_filenames: false
  stages:
  - pre-push

docs: clarify healthcheck behavior for stdio mode
  README.md
  docs/docker.md
Due: none

chore: remove unused requirements.txt
  requirements.txt
Due: none

docs: add Quick Start page with tabbed installation
  README.md
  docs/getting-started.md
  docs/index.md
  docs/quickstart.md
  mkdocs.yml
Due: none

docs: reorganize README for better discoverability
  README.md
Due: none

chore: bump version to 0.1.1
  CHANGELOG.md
  pyproject.toml
Due: none

ci: remove Codecov step temporarily
  .github/workflows/ci.yml
Due: none

chore: update uv.lock
  uv.lock
Due: none

docs: update URLs from legard to cloud-ru-tech
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  docs/docker.md
  docs/index.md
  docs/quickstart.md
  llms.txt
  mkdocs.yml
  pyproject.toml
Due: none

chore: bump version to 0.1.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: use absolute URL for logo in README
  README.md
Due: none

chore: bump version to 0.1.3
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add Read the Docs configuration
  .readthedocs.yaml
  docs/requirements.txt
Due: none

docs: update site_url for Read the Docs
  mkdocs.yml
Due: none

docs: update Documentation URL to Read the Docs
  pyproject.toml
Due: none

docs: update README links to Read the Docs
  README.md
Due: none

docs: fix broken Getting Started link in llms.txt
  llms.txt
Due: none

docs: remove GitHub Pages workflow (replaced by Read the Docs)
  .github/workflows/docs.yml
Due: none

docs: add custom CSS for screenshot styling
  docs/assets/extra.css
  mkdocs.yml
Due: none

docs: add examples screenshot directory
  docs/assets/examples/.gitkeep
Due: none

docs: rewrite examples page with realistic scenarios
  docs/examples.md
Due: none

docs: add scenario prompts to landing page
  docs/index.md
Due: none

docs: add missing LOG_FORMAT and API_VERSION to configuration
  docs/configuration.md
Due: none

docs: add example screenshots from Mattermost
  docs/assets/examples/.gitkeep
  docs/assets/examples/deployment-status.png
  docs/assets/examples/release-notes.png
  docs/assets/examples/unanswered-questions.png
Due: none

docs: fix image rendering and details markdown in examples
  docs/assets/extra.css
  docs/examples.md
  mkdocs.yml
Due: none

docs: add best practices page with AI configuration tips
  docs/best-practices.md
  docs/examples.md
  mkdocs.yml
Due: none

docs: redesign best practices with business logic focus
  docs/best-practices.md
  docs/examples.md
Due: none

docs: add best practices link to landing page
  docs/index.md
Due: none

docs: add MkDocs lessons learned to AGENTS.md
  AGENTS.md
  uv.lock
Due: none

docs: replace ASCII-art logo with new icon
  README.md
  assets/logo-512.png
  assets/logo.png
  assets/logo.svg
  docs/assets/favicon.png
  docs/assets/logo.png
  docs/assets/logo.svg
  mkdocs.yml
Due: none

fix: validate Retry-After header to prevent ValueError on HTTP-date format
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

fix: add retry logic to upload_file and parse HTTP-date Retry-After header
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

refactor: move cache_clear() into mock_settings fixture
  tests/conftest.py
  tests/test_client.py
  tests/test_config.py
Due: ruff, ruff-format, pytest

fix: wrap lifespan yield in try/finally for reliable cleanup
  src/mcp_server_mattermost/server.py
Due: ruff, ruff-format, mypy, pytest

test: add unit tests for tools/bookmarks.py
  tests/test_tools/conftest.py
  tests/test_tools/test_bookmarks.py
Due: ruff, ruff-format, pytest

refactor: improve MattermostClient error diagnostics, retry DRY, and Retry-After logging
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/exceptions.py
  tests/test_client.py
  tests/test_exceptions.py
  tests/test_tools/conftest.py
Due: ruff, ruff-format, mypy, pytest

refactor: minor cleanups
  AGENTS.md
  src/mcp_server_mattermost/__init__.py
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/logging.py
  src/mcp_server_mattermost/middleware.py
  src/mcp_server_mattermost/models/common.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

Add capability metadata for agent-based tool filtering
  AGENTS.md
  docs/building-agents.md
  docs/tools/bookmarks.md
  docs/tools/channels.md
  docs/tools/files.md
  docs/tools/index.md
  docs/tools/messages.md
  docs/tools/posts.md
  docs/tools/teams.md
  docs/tools/users.md
  mkdocs.yml
  src/mcp_server_mattermost/enums.py
  src/mcp_server_mattermost/tools/bookmarks.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/files.py
  src/mcp_server_mattermost/tools/messages.py
  src/mcp_server_mattermost/tools/posts.py
  src/mcp_server_mattermost/tools/teams.py
  src/mcp_server_mattermost/tools/users.py
  tests/test_capability_meta.py
  tests/test_enums.py
Due: ruff, ruff-format, mypy, pytest

refactor: DRY HTTP logging and remove @staticmethod from _parse_retry_after
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

chore: bump version to 0.2.0
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

chore: add SVG vector logo and replace PNG references
  README.md
  assets/logo.svg
  docs/assets/logo.svg
  mkdocs.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
