Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

ruff:
  name: ruff
  language: system
  entry: uv run ruff check --fix
  stages:
  - pre-commit

ruff-format:
  name: ruff-format
  language: system
  entry: uv run ruff format
  stages:
  - pre-commit

mypy:
  name: mypy
  language: system
  entry: uv run mypy
  stages:
  - pre-commit

pytest:
  name: pytest
  language: system
  entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
  pass_filenames: false
  stages:
  - pre-push

docs: condense the Unreleased changelog section
  CHANGELOG.md
Due: none

style: trim version archaeology from docstrings and changelog
  CHANGELOG.md
  src/mcp_server_mattermost/models/post.py
  tests/models/test_post.py
  tests/test_tools/conftest.py
  tests/test_tools/test_messages.py
Due: ruff, ruff-format, mypy, pytest

fix(deps): bump cryptography to 50.0.0 to fix CVE-2026-69247
  uv.lock
Due: none

fix: own the shared HTTP pool in a per-loop refcounted registry
  src/mcp_server_mattermost/constants.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/http_pool.py
  src/mcp_server_mattermost/server.py
  tests/test_deps.py
  tests/test_http_pool.py
  tests/test_server.py
Due: ruff, ruff-format, mypy, pytest

fix: harden the request path and pool limits for shared connections
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/exceptions.py
  tests/test_client.py
  tests/test_config.py
Due: ruff, ruff-format, mypy, pytest

fix: route token verification through the shared HTTP pool
  src/mcp_server_mattermost/auth.py
  src/mcp_server_mattermost/auth_oauth.py
  tests/test_auth.py
  tests/test_auth_oauth.py
Due: ruff, ruff-format, mypy, pytest

fix: keep integration tests on the session event loop safely
  tests/integration/conftest.py
  tests/integration/test_token_flow.py
Due: ruff, ruff-format, pytest

docs: record the pool's behaviour changes and compatibility
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/docker.md
Due: none

chore: adopt ruff 0.16 lint baseline
  pyproject.toml
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/server.py
  src/mcp_server_mattermost/tools/bookmarks.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/messages.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

chore(deps-dev): drop obsolete types-cachetools
  pyproject.toml
  uv.lock
Due: none

chore(deps-dev): drop obsolete types-cachetools (#37)
  pyproject.toml
  uv.lock
Due: none

feat: add safe attachment downloads with conflict handling
  CHANGELOG.md
  README.md
  docs/tools/files.md
  docs/tools/index.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/models/__init__.py
  src/mcp_server_mattermost/models/file.py
  src/mcp_server_mattermost/tools/files.py
  tests/models/test_exports.py
  tests/test_capability_meta.py
  tests/test_client.py
  tests/test_download_conflicts.py
  tests/test_server.py
  tests/test_tools/test_files.py
  tests/test_tools/test_tool_tags.py
Due: ruff, ruff-format, mypy, pytest

chore: bump version to 0.6.0
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

chore: bump version to 0.6.0 (#38)
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

fix: populate typed bookmark file metadata (#29)
  CHANGELOG.md
  docs/tools/bookmarks.md
  src/mcp_server_mattermost/models/bookmark.py
  tests/conftest.py
  tests/models/test_bookmark.py
  tests/test_tools/test_bookmarks.py
Due: ruff, ruff-format, mypy, pytest

docs: require English for project artifacts
  AGENTS.md
Due: none

fix: populate typed bookmark file metadata (#39)
  AGENTS.md
  CHANGELOG.md
  docs/tools/bookmarks.md
  src/mcp_server_mattermost/models/bookmark.py
  tests/conftest.py
  tests/models/test_bookmark.py
  tests/test_tools/test_bookmarks.py
Due: ruff, ruff-format, mypy, pytest

fix(docker): rebuild image on a current base, clearing 26 OS advisories
  .github/workflows/docker-publish.yml
  CHANGELOG.md
  Dockerfile
  docs/backlog/0002-weekly-scheduled-image-scan.md
  docs/docker.md
Due: none

chore: bump version to 0.6.1
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

docs(backlog): translate item 0001 to English
  docs/backlog/0001-http-transport-sigterm-teardown.md
Due: none

docs(changelog): condense the 0.6.1 entries
  CHANGELOG.md
Due: none

docs(changelog): drop the per-package CVE list from 0.6.1
  CHANGELOG.md
Due: none

docs: trim the Docker and workflow comments
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

fix(docker): rebuild image on a current base, release 0.6.1
  .github/workflows/docker-publish.yml
  CHANGELOG.md
  Dockerfile
  docs/backlog/0001-http-transport-sigterm-teardown.md
  docs/backlog/0002-weekly-scheduled-image-scan.md
  docs/docker.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

feat: support a configurable default Mattermost team (#11)
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/building-agents.md
  docs/configuration.md
  docs/docker.md
  docs/tools/channels.md
  docs/tools/messages.md
  docs/tools/teams.md
  docs/tools/users.md
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/deps.py
  src/mcp_server_mattermost/models/__init__.py
  src/mcp_server_mattermost/models/common.py
  src/mcp_server_mattermost/server.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/messages.py
  src/mcp_server_mattermost/tools/teams.py
  tests/models/test_exports.py
  tests/test_config.py
  tests/test_deps.py
  tests/test_token_flow.py
  tests/test_tools/test_default_team.py
Due: ruff, ruff-format, mypy, pytest

fix: log resolved default team with request correlation
  CHANGELOG.md
  src/mcp_server_mattermost/deps.py
  tests/test_tools/test_default_team.py
Due: ruff, ruff-format, mypy, pytest

test: validate default team schema across Python versions
  tests/test_tools/test_default_team.py
Due: ruff, ruff-format, pytest

docs: add ten MCP improvement backlog items
  docs/backlog/0003-enrich-message-authors.md
  docs/backlog/0004-read-attachments-through-mcp.md
  docs/backlog/0005-aggregate-unread-inbox.md
  docs/backlog/0006-evaluate-compact-message-responses.md
  docs/backlog/0007-improve-search-completeness.md
  docs/backlog/0008-evaluate-agent-workflows.md
  docs/backlog/0009-resolve-conversation-references.md
  docs/backlog/0010-read-personal-saved-posts.md
  docs/backlog/0011-scope-writes-to-channels.md
  docs/backlog/0012-cache-identity-scoped-directories.md
Due: none

docs: move feature backlog to GitHub issues
  docs/backlog/0003-enrich-message-authors.md
  docs/backlog/0004-read-attachments-through-mcp.md
  docs/backlog/0005-aggregate-unread-inbox.md
  docs/backlog/0006-evaluate-compact-message-responses.md
  docs/backlog/0007-improve-search-completeness.md
  docs/backlog/0008-evaluate-agent-workflows.md
  docs/backlog/0009-resolve-conversation-references.md
  docs/backlog/0010-read-personal-saved-posts.md
  docs/backlog/0011-scope-writes-to-channels.md
  docs/backlog/0012-cache-identity-scoped-directories.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
