Repository cloud-ru-tech/mcp-server-mattermost: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, pytest

ruff:
  name: ruff
  language: system
  entry: uv run ruff check --fix
  stages:
  - pre-commit

ruff-format:
  name: ruff-format
  language: system
  entry: uv run ruff format
  stages:
  - pre-commit

mypy:
  name: mypy
  language: system
  entry: uv run mypy
  stages:
  - pre-commit

pytest:
  name: pytest
  language: system
  entry: uv run pytest --cov=mcp_server_mattermost --cov-fail-under=80
  pass_filenames: false
  stages:
  - pre-push

fix: omit resource indicator for Mattermost OAuth
  src/mcp_server_mattermost/auth_oauth.py
  tests/test_auth_oauth.py
Due: ruff, ruff-format, mypy, pytest

docs: add changelog entry for upcoming release
  CHANGELOG.md
Due: none

refactor: rework list_my_channels unread enrichment
  CHANGELOG.md
  README.md
  docs/best-practices.md
  docs/examples.md
  docs/tools/channels.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/models/__init__.py
  src/mcp_server_mattermost/models/channel.py
  src/mcp_server_mattermost/tools/channels.py
  tests/integration/test_channels.py
  tests/test_client.py
  tests/test_tools/conftest.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

feat: add root-level unread counts to list_my_channels
  CHANGELOG.md
  docs/best-practices.md
  docs/examples.md
  docs/tools/channels.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/models/channel.py
  src/mcp_server_mattermost/tools/channels.py
  tests/integration/test_channels.py
  tests/test_client.py
  tests/test_models.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

docs: sync list_my_channels overview description with README
  docs/examples.md
  docs/tools/index.md
Due: none

docs: defer Morning Catch-Up example until unread modes ship
  docs/examples.md
Due: none

feat: expose last_viewed_at on ChannelWithUnreads
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/models/channel.py
  tests/test_client.py
  tests/test_models.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

chore: address review feedback on list_my_channels changes
  src/mcp_server_mattermost/models/channel.py
  tests/models/test_channel.py
  tests/test_models.py
  tests/test_tools/test_channels.py
Due: ruff, ruff-format, mypy, pytest

feat(models): add truncated flag to PostList
  src/mcp_server_mattermost/models/post.py
  tests/models/test_post.py
Due: ruff, ruff-format, mypy, pytest

feat(client): add get_posts_since for incremental sync
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

feat(client): add get_channel_posts_unread for /posts/unread endpoint
  src/mcp_server_mattermost/client.py
  tests/test_client.py
Due: ruff, ruff-format, mypy, pytest

feat(tools): add mode-exclusivity validation to get_channel_messages
  src/mcp_server_mattermost/tools/messages.py
  tests/test_tools/test_messages.py
Due: ruff, ruff-format, mypy, pytest

feat(tools): route get_channel_messages by mode and detect truncation
  src/mcp_server_mattermost/tools/messages.py
  tests/test_tools/test_messages.py
Due: ruff, ruff-format, mypy, pytest

docs(tools): point list_my_channels docstring at the new unread flow
  src/mcp_server_mattermost/tools/channels.py
Due: ruff, ruff-format, mypy, pytest

test(integration): verify list_my_channels -> unread_only flow end-to-end
  tests/integration/test_unread_flow.py
Due: ruff, ruff-format, pytest

docs(examples): restore Morning Catch-Up with the new unread flow
  docs/examples.md
Due: none

docs(changelog): record unread modes and truncated flag
  CHANGELOG.md
Due: none

feat: add mark_channel_viewed tool
  CHANGELOG.md
  docs/tools/channels.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/tools/channels.py
  tests/test_capability_meta.py
  tests/test_client.py
  tests/test_server.py
  tests/test_tools/test_channels.py
  tests/test_tools/test_tool_tags.py
Due: ruff, ruff-format, mypy, pytest

fix: tighten limit_after, clarify docstrings, add bot monitor recipe
  CHANGELOG.md
  docs/examples.md
  docs/tools/messages.md
  src/mcp_server_mattermost/client.py
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/messages.py
  tests/test_tools/test_messages.py
Due: ruff, ruff-format, mypy, pytest

docs(tools): make get_channel_messages and mark_channel_viewed docstrings self-contained
  CHANGELOG.md
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/messages.py
Due: ruff, ruff-format, mypy, pytest

docs(tools): compress get_channel_messages and mark_channel_viewed docstrings
  CHANGELOG.md
  src/mcp_server_mattermost/tools/channels.py
  src/mcp_server_mattermost/tools/messages.py
Due: ruff, ruff-format, mypy, pytest

docs(tools): correct limit_after range in messages.md grid
  docs/tools/messages.md
Due: none

chore: bump version to 0.5.0
  CHANGELOG.md
  README.md
  pyproject.toml
  src/mcp_server_mattermost/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

feat: support MATTERMOST_EXTRA_CA_CERTS for corporate CAs
  CHANGELOG.md
  docs/configuration.md
  pyproject.toml
  src/mcp_server_mattermost/config.py
  src/mcp_server_mattermost/server.py
  src/mcp_server_mattermost/tls.py
  tests/test_tls.py
  uv.lock
Due: ruff, ruff-format, mypy, pytest

docs: document extra CA certs for Docker
  README.md
  docs/configuration.md
  docs/docker.md
Due: none

fix(deps): upgrade FastMCP to 3.4.4 (CVE-2026-27124)
  pyproject.toml
  uv.lock
Due: none

ci: add blocking SCA gate for uv.lock
  .github/workflows/ci.yml
  .trivyignore
Due: none

ci: block Docker image publish on fixable HIGH/CRITICAL vulnerabilities
  .github/workflows/docker-publish.yml
Due: none

docs: changelog for FastMCP upgrade and SCA gate
  CHANGELOG.md
Due: none

ci: restrict image scan to vuln scanner for policy parity
  .github/workflows/docker-publish.yml
Due: none

ci: bump trivy-action to v0.36.0 (Trivy 0.72.0)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: none

fix(deps): remediate known vulnerabilities in transitive dependencies
  uv.lock
Due: none

docs: changelog for dependency remediation and SCA gate policy
  CHANGELOG.md
Due: none

ci: block lockfile SCA gate only on fixable vulnerabilities
  .github/workflows/ci.yml
Due: none

ci: scan every published architecture before pushing the image manifest
  .github/workflows/docker-publish.yml
Due: none

docs: note per-architecture image scanning in changelog
  CHANGELOG.md
Due: none

ci: block lockfile SCA gate only on fixable HIGH/CRITICAL
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

ci: correct scan-job comment and drop dead cache-to
  .github/workflows/docker-publish.yml
Due: none

Upgrade FastMCP to 3.4.4, remediate dependency CVEs, add blocking SCA gate (#13)
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .trivyignore
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
